p, h1, h2{
  font-family: 'Raleway', sans-serif;
}
p{
  font-size: 1.3em;
}
html, body {
    height: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
}

/*NAVIGATION*/
.navbar {
  background-color:transparent;
  font-family: 'Raleway', sans-serif;
  border: none;
  padding-top: 5px;
}


.navbar .navbar-collapse{
  border-top: none;
}

.navbar .navbar-collapse .collapse{
  border-top: none;
}

.navbar a{
  color:#ccc !important;
}
.navbar a:hover{
  color:#fff !important;
  background-color: #646464 !important;
}

.navbar-header .navbar-brand{
  color: white !important;
  font-size:2.5em;
  text-align: center;
  font-family: 'Rancho', cursive;
  /*margin-top: px !important;*/
}

@media (max-width:768px) {
  .navbar .navbar-collapse{
    border-top: none;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .navbar .navbar-collapse .collapse{
    border-top: none;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
/*HEADER*/

.header{
  color: white;
  text-align: center;
  background: url('../img/header-bg.jpeg') no-repeat center center;
  background-size: cover;
  width: 100%;
  -webkit-box-shadow: inset 1px -29px 13px -17px rgba(15,22,41,1);
  -moz-box-shadow: inset 1px -29px 13px -17px rgba(15,22,41,1);
  box-shadow: inset 1px -29px 13px -17px rgba(15,22,41,1);
}

.header .container{
  position: relative !important;
  height: 100%;
}

.header .container .row{
  background-color: rgba(0, 0, 0, 0.5);
}
.header .name{
  font-family: 'Rancho', cursive;
  font-size: 2em;
}
.header h1{
  font-size: 4em;
}

.header #iam, #ido{
  color: #0088CC;
}


.align-middle {
  margin-top: 25%;
  margin-bottom: 25%;
}


/*WHAT I DO*/
.about{
  padding: 70px 0 90px;
  text-align: center;
  color: white;
  background-color: #0f1629;
}

.about h1{
  padding-bottom: 50px;
}

.about p{
  padding-top: 100px;
  font-size: 1.5em;
  text-align: center;
}

.about img{
  box-shadow: 10px 0px 0px 10px rgba(255,255,255,0.2), -10px 0px 0px 10px rgba(255,255,255,0.2);
}

.about .img-responsive{
  margin: 0 auto;
}

@media(max-width:768px){
  .about{
    text-align: center;
    padding: 20px 20px 10px 20px;
  }
}

/*skills*/
.skills{
  padding: 90px 0 90px;
  text-align: center;
}

.skills h2{
  color: #838282;
}

/*MY WORK*/

.mywork{
  background-color: #1f1f21;
  padding: 90px 0 90px;
  text-align: center;
  color: white;
}

.mywork img{
  padding: 20px 0 20px;
}

.mywork h1{
  font-size: 2em;
}

/*CONTACT*/
.contact{
  padding: 70px 0 90px;
  text-align: center;
}

.contact h1{
  padding-bottom: 40px;
}

.contact p{
  padding-bottom: 40px;
}

.contact .fa{
  color: #192645;
}

.contact .fa:hover{
  color: #0f1629;
}

/*FOOTER*/
.footer{
  background-color: #0f1629;
  padding: 70px 0 70px;
  text-align: center;
  color: white;
}
